<!DOCTYPE html>
<html>
  <head>
    <title>Registration</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <form>
      <div class="form">
        <div class="reg">
          <h1>ВХОД</h1>
        </div>
        <div class="form-registration">
          <div class="input-reg">
            <input type="text" name="username" placeholder="username">
          </div>
          <div class="input-reg">
            <input type="text" name="password" placeholder="password">
          </div>
          <div class="answer-reg"></div>
          <div class="button">
            <div class="button-reg">
                <button class="button-click" type="submit" >OK</button>
            </div>         
          </div>
        </div>
      </div>
      
    </form>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.js"></script>
    <script src="/js/auth.js"></script>
  </body>
</html>
